nav{
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav > a{
    color: #fff;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
}

#home-cover{
    height: 30vh;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    background-color: green;

}